.idea
.vscode


frontend/node_modules/
backend/node_modules/

frontend/build/
backend/dist/
backend/dist/app.js

# Ignore environment files
frontend/.env
backend/.env

*.log
*.env
.DS_Store

# Ignore TypeScript build artifacts
*.tsbuildinfo

frontend/package-lock.json
backend/package-lock.json
